.App-container {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#add {
  border-style: double;
  border-color: royalblue
}

#subtract {
  border-style: double;
  border-color: yellow
}

.api-card {
  display: flex;
  box-sizing: border-box;
}
